<% if alert %>
  <p class="alert-danger"><%= flash[:alert] %></p>
<% end %>

<h2>Welcome to Donate by Necessity</h2>

<%= link_to "Create new Donor account", new_donor_path %><br><br>
<%= link_to "Sign in locally", new_session_path %><br><br>
