<h2>Recipient Form</h2>

<%= form_for([@category, @recipient]) do |f| %>
<%= render 'recipients/form', f: f %>
<% end %>

<p>Note:  To skip adding a recipient to your donation, please return to your Donor Platform</p>
